@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.bold {
  font-weight: bold; }

/* pad the top */
.pad-t-1 {
  padding-top: 0.5rem; }

.pad-t-2 {
  padding-top: 1rem; }

.pad-t-3 {
  padding-top: 1.5rem; }

.pad-t-4 {
  padding-top: 2rem; }

.pad-t-5 {
  padding-top: 2.5rem; }

/* pad the bottom */
.pad-bot-1 {
  padding-bottom: 0.5rem; }

.pad-bot-2 {
  padding-bottom: 1rem; }

.pad-bot-3 {
  padding-bottom: 1.5rem; }

.pad-bot-4 {
  padding-bottom: 2rem; }

.pad-bot-5 {
  padding-bottom: 2.5rem; }

/* pad the top and bottom */
.pad-bot-top-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pad-bot-top-2 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pad-bot-top-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.pad-bot-top-4 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pad-bot-top-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

/* pad  all */
.pad-all-1 {
  padding: 0.5rem; }

.pad-all-2 {
  padding: 1rem; }

.pad-all-3 {
  padding: 1.5rem; }

.pad-all-4 {
  padding: 2rem; }

.pad-all-5 {
  padding: 2.5rem; }

/* pad  left */
.pad-l-1 {
  padding-left: 0.5rem; }

.pad-l-2 {
  padding-left: 1rem; }

.pad-l-3 {
  padding-left: 1.5rem; }

.pad-l-4 {
  padding-left: 2rem; }

.pad-l-5 {
  padding-left: 2.5rem; }

/* pad  right */
.pad-r-1 {
  padding-right: 0.5rem; }

.pad-r-2 {
  padding-right: 1rem; }

.pad-r-3 {
  padding-right: 1.5rem; }

.pad-r-4 {
  padding-right: 2rem; }

.pad-r-5 {
  padding-right: 2.5rem; }

/* marg the top */
.marg-t-1 {
  margin-top: 0.5rem; }

.marg-t-2 {
  margin-top: 1rem; }

.marg-t-3 {
  margin-top: 1.5rem; }

.marg-t-4 {
  margin-top: 2rem; }

.marg-t-5 {
  margin-top: 2.5rem; }

/* margin the bottom */
.marg-bot-1 {
  margin-bottom: 0.5rem; }

.marg-bot-2 {
  margin-bottom: 1rem; }

.marg-bot-3 {
  margin-bottom: 1.5rem; }

.marg-bot-4 {
  margin-bottom: 2rem; }

.marg-bot-5 {
  margin-bottom: 2.5rem; }

/* margin the top and bottom */
.marg-bot-top-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.marg-bot-top-2 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.marg-bot-top-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.marg-bot-top-4 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.marg-bot-top-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

/* pad  all */
.marg-all-1 {
  margin: 0.5rem; }

.marg-all-2 {
  margin: 1rem; }

.marg-all-3 {
  margin: 1.5rem; }

.marg-all-4 {
  margin: 2rem; }

.marg-all-5 {
  margin: 2.5rem; }

.btn-primary {
  background: #F4871E;
  border-color: #F4871E;
  color: #153c4d; }

.btn-primary:hover, .btn-secondary:hover, .btn-outline-primary:hover {
  background: #153c4d;
  border-color: #153c4d;
  color: #fff; }

.btn-secondary {
  background: #f8ae67;
  border-color: #f6a14f;
  color: #153c4d; }

.btn-outline-primary {
  border-color: #F4871E;
  color: #F4871E; }

.btn-blue {
  background-color: #006de2;
  border-color: #006de2;
  color: #fff;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:visited {
    background-color: #007bff !important;
    border-color: #007bff;
}

input[type="file"] {
  border-radius: .3em; }

.compact-form {
  width: 320px;
  padding: 0.5rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.svg-search, .user-remove {
  fill: #153c4d;
  width: 22px; }

.svg-search:hover {
  fill: #F4871E; }

#btn-search, .btn-outline {
  border: 1px solid #ced4da; }

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #28a745; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  transform: translateX(20px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*  btn-success
background-color: #28a745;
    border-color: #28a745;

    */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fdfdfd;
  border: 1px solid #ccc; }

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: #F4871E; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 9px;
  top: 2px;
  width: 7px;
  height: 16px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

body {
  background: #fff;
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif; }

.container.expand-h,
.expand-h,
.row.expand-h {
  height: 100%;
  min-height: 100%; }

.expand-h .col-10,
.expand-h .col-2 {
  margin-bottom: -9999px;
  padding-bottom: 9999px; }

/* main */
.expand-h .col-2 {
  position: sticky;
  left: 0;
  top: 0;
  padding: 0; }

.expand-h .col-10 {
  padding: 0;
  margin-left: 0;
  margin-right: 0; }

main {
  margin: 2em; }

a:link {
  color: #153c4d; }

a:hover {
  color: #F4871E;
  text-decoration: none; }

.expand:hover .arrow-1 {
  fill: #F4871E; }

.filter-btns .dropdown {
  margin: 0.25rem 0.5rem; }

#myTable {
  font-size: .8em; }

.eq-btns button {
  width: 100%; }

#select-saved {
  margin-bottom: .5em; }

.scroll-div, .scroll-div-lg {
  height: 8em;
  padding: .5em;
  overflow-y: scroll;
  border: 1px solid #cfd4da;
  border-radius: 4px; }

.scroll-div-lg {
  height: 20em; }

.scroll-div h5 {
  margin: 0;
  padding: 0; }

.no-pad {
  padding: 0; }

.no-marg {
  margin: 0; }

.eq-btns.btn-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-flow: row wrap; }

.eq-btns.btn-columns button {
  flex-basis: auto;
  max-width: 14em; }

.eq-btns.btn-columns button:first-of-type {
  margin-right: 1rem; }

.eq-btns button {
  margin: 0 0 .5em; }

#limiter {
  position: absolute;
  bottom: 0;
  left: 4px; }

.filter-form .col-12, .filter-form .col-8 {
  padding: 0;
  width: 100%;
  margin: 0; }

body {
  color: #404040; }

h1, h2, h3, h4 {
  color: #000; }

h6 {
  font-size: 1rem; }

#logo {
  max-width: 420px;
  width: 100%; }

.logo-bg {
  fill: #153c4d; }

.logo-fg {
  fill: #F4871E; }

.card {
  margin: 2.5rem auto; }

#accordion .card {
  margin: 0.25rem 0; }

.bg-dark-1 {
  background-color: #153c4d; }

.bg-white {
  background: #fff; }

.sub-title {
  font-size: 1.2em;
  float: left;
  font-weight: bold;
  padding: 0;
  margin: 0 1em 0 0; }

.sub-title span {
  font-weight: normal; }

.bg-dark-1 a, .bg-dark-1 a:active, .bg-dark-1 a:visited {
  color: #fff; }

.bg-dark-1 a:hover {
  color: #F4871E;
  text-decoration: none; }

.bg-dark-1 a:hover .icon-white {
  fill: #F4871E; }

.bg-light-gray-1 {
  background-color: #fafafa; }

.bundle-list li {
  width: 99%;
  margin: 1rem; }

.bundle-list li:nth-child(even) {
  background-color: #fafafa; }

/* nav */
.svg-inline {
  width: 20px;
  height: auto; }

.icon-lg {
  width: 45px;
  height: auto; }

[data-icon="table"], .svg-batch {
  fill: #fff; }

.file-st0 {
  fill: none;
  stroke: #153c4d;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.file-st1 {
  stroke: #153c4d;
  stroke-miterlimit: 10; }

.file-st2 {
  fill: none;
  stroke: #153c4d;
  stroke-miterlimit: 10; }

.btn-chev .svg-inline, .svg-inline.dwn-arrow, .icon-plus, .icon-minus {
  width: 20px;
  height: 20px; }

.icon-white {
  fill: #fff; }

.icon-dark-1, .svg-inline.dwn-arrow {
  fill: #153c4d; }

nav ul {
  padding: 0;
  margin: 0;
  font-size: 1.5rem; }

nav ul li {
  padding: 1rem; }

.workflows .workflows, .collections .collections, .deliverables .deliverables, .batch-ingest .batch-ingest ,.collection .collection{
  background: #22617d; }

.icon-play, .icon-play-audio, .icon-filter {
  width: 35px;
  height: auto;
  fill: #153c4d; }

.icon-filter {
  width: 20px; }

/* nav */
.bg-light-gray-1 header {
  height: auto;
  min-height: 4rem;
  padding: 0.5rem; }

svg.icon-user {
  width: 2.5rem; }

.btn-chev {
  background-color: none;
  border: none; }

.btn-chev:hover svg, button:hover svg.dwn-arrow {
  transform: rotate(90deg) scale(1.2, 1.2); }

.btn-chev[aria-expanded="true"] svg, [aria-expanded="true"] .dwn-arrow {
  transform: rotate(90deg) scale(1.4, 1.4); }

.btn-chev[aria-expanded="false"] svg {
  transform: none; }

.btn-chev svg, button svg {
  transition: all 0.4s ease-out; }

.btn-chev .hotlink {
  fill: #153c4d; }

.btn.eq-width {
  min-width: 8em; }

.list-unstyled .btn-light {
  background-color: transparent;
  border: none; }

#site-map {
  background: #fdfdfd;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 0.25rem dashed #ccc;
  margin: 4rem;
  list-style: none;
  font-size: 1rem; }

.workflow-files li, #site-map #site-nav ul li {
  margin: 0 0 0.25rem;
  padding: 0 0 0.25rem;
  list-style: none; }

.add-remove {
  min-width: 8em;
  text-align: left; }

.list-unstyled {
  width: 99.5%; }

.circle-stroke,
.minus-stroke,
.plus-stroke {
  stroke: #153c4d;
  stroke-width: 23;
  stroke-miterlimit: 10; }

.icon-circle-play {
  fill: #153c4d; }

.icon-minus .plus-stroke {
  display: none; }

.file-list li {
  margin: 0.25rem 0 0;
  transition: all .25s ease-in; }

.file-list li:hover {
  background-color: rgba(0, 0, 0, 0.03); }

.file-list li button {
  padding: 0;
  background: transparent; }

.modal .card, .my-collection .card {
  margin: 0 0 0.5rem; }

.controls .btn {
  margin-left: 0.5rem; }

.expand[aria-expanded="false"] .arrow-1 {
  transform: rotate(90deg); }

.expand[aria-expanded="true"] .arrow-1 {
  transform: rotate(-90deg); }

.modal-body .scrollDiv {
  height: 250px;
  overflow-y: scroll; }

.highlight {
  background: #F8ECB4; }

.scrollDiv td, .scrollDiv th {
  text-align: left; }

.final-choice-top .switch {
  margin-top: 15px; }

.final-choice-top .txt-v {
  margin-top: 20px;
  width: 11.5em; }

.final-choice-top .check-container {
  margin-top: 20px; }

.table-responsive {
  position: relative;
  padding-top: 19px; }

.final-choice-top {
  z-index: 1001;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 170px; }

#btn-search-modal {
  position: absolute;
  right: 0;
  top: .5em;
  z-index: 1001; }

#item-details {
  border: 1px solid #ccc;
  padding: 1em;
  width: 30em;
  position: absolute;
  top: 2rem;
  right: 1rem;
  border-radius: 0.25rem; }

@media screen and (max-width: 39em) {
  #logo {
    min-width: 100px;
    padding: 0; }
  #item-details {
    border: none;
    padding: 1em;
    width: auto;
    position: relative;
    top: auto;
    right: auto; } }

@media screen and (max-width: 79em) {
  #item-details {
    border: none;
    padding: 0;
    margin: 0;
    width: auto;
    position: relative;
    top: auto;
    right: auto; } }

@media screen and (max-width: 39em) {
  #logo {
    min-width: 100px;
    padding: 0; } }


/* AMP BELOW THIS LINE */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.file-list-item{
  display: flex;
  justify-content: space-between;
}
.file-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 5px !important;
}
.no-bx-shadow{
  box-shadow: none !important;
}
@media screen and (max-width: 580px) {
  .file-list-item {
    flex-direction: column;
  }
  .file-list-item-add {
    text-align: right !important;
  }
  .bundle{
    flex-direction: column;
  }
  .file-name{
    text-align: left;
  }
}