@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* class for margin bottom with 2rem */
.marg-bot-4 {
  margin-bottom: 2rem;
}

.btn-primary {
  background: #f4871e;
  border-color: #f4871e;
  color: #153c4d;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-outline-primary:hover {
  background: #153c4d;
  border-color: #153c4d;
  color: #fff;
}

.btn-secondary {
  background: #f8ae67;
  border-color: #f6a14f;
  color: #153c4d;
}

.btn-outline-primary {
  border-color: #f4871e;
  color: #f4871e;
}

input[type="file"] {
  border-radius: 0.3em;
}

.compact-form {
  width: 320px;
  padding: 0.5rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.svg-search,
.user-remove {
  fill: #153c4d;
  width: 22px;
}

.svg-search:hover {
  fill: #f4871e;
}

#btn-search,
.btn-outline {
  border: 1px solid #ced4da;
}

disabled {
  color: #ccc;
}

body {
  background: #fff;
  height: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

.container.expand-h,
.expand-h,
.row.expand-h {
  height: 100%;
  min-height: 100%;
}

.expand-h .col-10,
.expand-h .col-2 {
  margin-bottom: -9999px;
  padding-bottom: 9999px;
}

/* main */
.expand-h .col-2 {
  position: sticky;
  left: 0;
  top: 0;
  padding: 0;
}

.expand-h .col-10 {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

main {
  margin: 2em;
}

a:link {
  color: #153c4d;
}

a:hover {
  color: #f4871e;
  text-decoration: none;
}

.expand:hover .arrow-1 {
  fill: #f4871e;
}

.filter-btns .dropdown {
  margin: 0.25rem 0.5rem;
}

#myTable {
  font-size: 0.8em;
}

.eq-btns button {
  width: 100%;
}

#select-saved {
  margin-bottom: 0.5em;
}

.scroll-div,
.scroll-div-lg {
  height: 8em;
  padding: 0.5em;
  overflow-y: scroll;
  border: 1px solid #cfd4da;
  border-radius: 4px;
}

.scroll-div-lg {
  height: 20em;
}

.scroll-div h5 {
  margin: 0;
  padding: 0;
}

.no-pad {
  padding: 0;
}

.no-marg {
  margin: 0;
}

.eq-btns.btn-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
  flex-flow: row wrap;
}

.eq-btns.btn-columns button {
  flex-basis: auto;
  max-width: 14em;
}

.eq-btns.btn-columns button:first-of-type {
  margin-right: 1rem;
}

.eq-btns button {
  margin: 0 0 0.5em;
}

#limiter {
  position: absolute;
  bottom: 0;
  left: 4px;
}

.filter-form .col-12,
.filter-form .col-8 {
  padding: 0;
  width: 100%;
  margin: 0;
}

body {
  color: #404040;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

h6 {
  font-size: 1rem;
}

#logo {
  max-width: 420px;
  width: 100%;
}

.logo-bg {
  fill: #153c4d;
}

.logo-fg {
  fill: #f4871e;
}

.card {
  margin: 2.5rem auto;
}

#accordion .card {
  margin: 0.25rem 0;
}

.bg-dark-1 {
  background-color: #153c4d;
}

.bg-white {
  background: #fff;
}

.bg-dark-1 a,
.bg-dark-1 a:active,
.bg-dark-1 a:visited {
  color: #fff;
}

.bg-dark-1 a:hover {
  color: #f4871e;
  text-decoration: none;
}

.bg-dark-1 a:hover .icon-white {
  fill: #f4871e;
}

.bg-light-gray-1 {
  background-color: #fafafa;
}

.bundle-list li {
  width: 99%;
  margin: 1rem;
}

.bundle-list li:nth-child(even) {
  background-color: #fafafa;
}

/* nav */
.svg-inline {
  width: 20px;
  height: auto;
}

.icon-lg {
  width: 45px;
  height: auto;
}

.file-st0 {
  fill: none;
  stroke: #153c4d;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.file-st1 {
  stroke: #153c4d;
  stroke-miterlimit: 10;
}

.file-st2 {
  fill: none;
  stroke: #153c4d;
  stroke-miterlimit: 10;
}

.btn-chev .svg-inline,
.svg-inline.dwn-arrow,
.icon-plus,
.icon-minus {
  width: 20px;
  height: 20px;
}

.icon-white {
  fill: #fff;
}

.icon-dark-1,
.svg-inline.dwn-arrow {
  fill: #153c4d;
}

nav ul {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

nav ul li {
  padding: 1rem;
}

/* .workflows .workflows, .collections .collections, .units .units {
  background: #22617d; } */

.icon-play,
.icon-play-audio,
.icon-filter {
  width: 35px;
  height: auto;
  fill: #153c4d;
}

.icon-filter {
  width: 20px;
}

/* nav */
.bg-light-gray-1 header {
  height: auto;
  min-height: 4rem;
  padding: 0.5rem;
}

svg.icon-user {
  width: 2.5rem;
}

.btn-chev {
  background-color: none;
  border: none;
}

.btn-chev:hover svg,
button:hover svg.dwn-arrow {
  transform: rotate(90deg) scale(1.2, 1.2);
}

.btn-chev[aria-expanded="true"] svg,
[aria-expanded="true"] .dwn-arrow {
  transform: rotate(90deg) scale(1.4, 1.4);
}

.btn-chev[aria-expanded="false"] svg {
  transform: none;
}

.btn-chev svg,
button svg {
  transition: all 0.4s ease-out;
}

.btn-chev .hotlink {
  fill: #153c4d;
}

.btn.eq-width {
  min-width: 8em;
}

.list-unstyled .btn-light {
  background-color: transparent;
  border: none;
}

#site-map {
  background: #fdfdfd;
  border-radius: 1.5rem;
  padding: 1.5rem;
  border: 0.25rem dashed #ccc;
  margin: 4rem;
  list-style: none;
  font-size: 1rem;
}

.workflow-files li,
#site-map #site-nav ul li {
  margin: 0 0 0.25rem;
  padding: 0 0 0.25rem;
  list-style: none;
}

.add-remove {
  min-width: 8em;
  text-align: left;
}

.list-unstyled {
  width: 99.5%;
}

.circle-stroke,
.minus-stroke,
.plus-stroke {
  stroke: #153c4d;
  stroke-width: 23;
  stroke-miterlimit: 10;
}

.icon-circle-play {
  fill: #153c4d;
}

.icon-minus .plus-stroke {
  display: none;
}

.file-list li {
  margin: 0.25rem 0 0;
  transition: all 0.25s ease-in;
}

.file-list li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.file-list li button {
  padding: 0;
  background: transparent;
}

.modal .card,
.my-collection .card {
  margin: 0 0 0.5rem;
}

.controls .btn {
  margin-left: 0.5rem;
}

.expand[aria-expanded="false"] .arrow-1 {
  transform: rotate(90deg);
}

.expand[aria-expanded="true"] .arrow-1 {
  transform: rotate(-90deg);
}

@media screen and (max-width: 39em) {
  #logo {
    min-width: 100px;
    padding: 0;
  }
}

/* Style overrides for <b-tabs> component and its children imported from bootstrap-vue-next */
.bsvn-tab-header {
  padding-bottom: 0.5rem;
}

.bsvn-tab-header-wrapper {
  border-bottom: none !important;
  border-radius: 0.375em !important;
}

.bsvn-tab {
  color: #153c4d !important;
  border-radius: 0.375em;
  &:hover {
    color: #f4871e !important;
    border-color: transparent !important;
  }
}

.bsvn-tab.active {
  background-color: #153c4d !important;
  color: white !important;
  &:hover {
    color: white !important;
  }
}

/* Override Bootstrap's valid form input styles */
.was-validated .form-control:valid, 
.was-validated .form-select:valid {
    border-color: var(--bs-border-color) !important;
    background-image: none !important;
    &:focus {
      border-color: #86b7fe !important;
      box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
    }
}

/* Class for invalid information on form submission */
.form-errors {
  color: red;
  margin: 0% !important;
  font-size: 0.9rem;
  padding-left: 3px;
}
